/*Colores*/
$negro: #151c2eff;
$morado : #31293DFF;
$azul-primario: #5E999BFF;
$azul-secundario: #77D7CEFF;
$azul-tercer: #95E8E0ff;
$perla: #fefff1;

/*Fonts*/
$font-general: 'Edu VIC WA NT Beginner';
$roboto: 'Roboto';

